body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.log-message {
    width:1000px;
    clear:both;
    font-size:.9em;
}

.log-message .log-message-category {
    width:120px;
    float:left;
}

.log-message .log-message-title {
    width:320px;
    float:left;
}

.log-message .log-message-message {
    width:190px;
    float:left;
    overflow:hidden;
    
}

.log-message .log-message-body {
    width:140px;
    float:left;
    height:21px;
    overflow:hidden;
}

.log-message .log-message-dateofevent {
    width:220px;
    float:left;
}